@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';


body {
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url(../images/bg.jpg);
  background-size: cover;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  /*border-top: 1px solid #e5e5e5;*/
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/*=============Utilities CSS ==============*/
.no-pad {
  padding: 0;
}
.pad-2 {
  padding: 2%;
}
.pad-5 {
  padding: 5%;
}
.margin-top-20 {
  margin-top: 20px;
}

/*=============Custom Container CSS ==============*/

.page-container {
  height: 600px;
  margin-top: 2%;
  color:#fff;
}

.overflow-auto {
 position: relative;
 height: 438px;
 overflow-y: scroll;
 padding: 2%;
}

.image-container{
  width: 90%;
  margin: 0 auto;
  height: 350px;
}

.image-container img {
  width: 100%;
  margin: 0 auto;
}

.well {
  border-radius: 5px;
  border: none;
  background-color: rgba(44, 62, 80,0.8);
  margin: 0;
}

.skill a {
  text-decoration: none;
  color: #ecf0f1;
}

/*=============List CSS ==============*/

::-webkit-scrollbar {
    width: 15px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.table {
  margin-bottom: 0px;
}
.table-header {
  margin-bottom: -3%;
}
.table thead tr th {
  border-bottom: none;
  color: #ecf0f1;
}
.table thead tr th a {
  text-decoration: none;
  color: #fff;
}

.table thead tr th a:hover {
  opacity: 0.8;
}

.table-label {
  width: 30%;
}

.progress {
  margin-bottom: 0;
}

.main-content.ng-move,
.main-content.ng-enter,
.main-content.ng-leave {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.main-content.ng-leave.ng-leave-active,
.main-content.ng-move,
.main-content.ng-enter {
  opacity: 0;
  height: 0;
  min-height: 0;
}

.main-content.ng-leave,
.main-content.ng-move.ng-move-active,
.main-content.ng-enter.ng-enter-active {
  opacity: 1;
  height: 82px;
  min-height: 82px;
}




