@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url(../images/bg.jpg);
  background-size: cover;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.container-narrow > hr {
  margin: 30px 0;
}
.skill a {
  text-decoration: none;
  color: #ecf0f1;
}
.skill a:hover {
  opacity: 0.8;
}

/*=============Color CSS ==============*/

.normal { background-color: #003171;}
.fighting { background-color: #FFB61E;}
.flying { background-color: #89C4F4;}
.poison { background-color: #E68364;}
.ground { background-color: #7A942E;}
.rock { background-color: #757D75;}
.bug { background-color: #26A65B;}
.ghost { background-color: #5B3256;}
.steel { background-color: #34495e;}
.fire { background-color: #e74c3c;}
.water { background-color: #3498db;}
.grass { background-color: #2ecc71;}
.electric { background-color: #2980b9;}
.psychic { background-color: #8e44ad;}
.ice { background-color: #3498db;}
.dragon { background-color: #f1c40f;}
.dark { background-color: #7f8c8d;}
.fairy { background-color: #9b59b6;}

/*=============Utilities CSS ==============*/
.no-pad {
  padding: 0;
}
.pad-2 {
  padding: 2%;
}
.pad-5 {
  padding: 5%;
}
.margin-top-20 {
  margin-top: 20px;
}
.pokedex-title {

}
.pokedex-logo {
  width: 20%;
}

/*=============Custom Container CSS ==============*/

.page-container {
  height: 600px;
  margin-top: 2%;
  color:#fff;
}
.overflow-auto {
 position: relative;
 height: 438px;
 overflow-y: scroll;
 padding: 2%;
}
.image-container{
  width: 100%;
  margin: 0 auto;
  height: 350px;
}
.image-container img {
  max-width: 100%;
  max-height: 100%;
}
.theme-container img{
      width: 80%;
}
.well {
  border-radius: 5px;
  border: none;
  background-color: rgba(44, 62, 80,0.8);
  margin: 0;
}
.pill {
  padding: 2px;
  border-radius: 8px;
}

/*=============List CSS ==============*/

.table {
  margin-bottom: 0px;
}
.table thead tr th {
  border-bottom: none;
  color: #ecf0f1;
}
.table thead tr th a {
  text-decoration: none;
  color: #ecf0f1;
}
.table thead tr th a:hover {
  opacity: 0.8;
}
.table-label {
  width: 30%;
}
.table.skill-details tr td{ 
  padding: 1px;
}
.progress {
  margin-bottom: 0;
}
.pokemon-list {
  margin-bottom: 2%;
}
.pokemon-item:hover {
  background-color: rgba(236, 240, 241, 0.3);
  cursor: pointer;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 991px) {
   .image-container img {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }
    .image-container{
      max-width: 50%;
      margin: 0 auto;
      height: 350px;
      overflow: hidden;
    }
    .overflow-auto {
      position: relative;
      height: 300px;
      overflow-y: scroll;
      padding: 2%;
    }
    .theme-container img{
      width: 20%;
    }
    .pokemon-details{
      margin-top: 2%;
    }
}

@media screen and (max-width: 680px) {
   .image-container img {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }
    .image-container {
      max-width: 60%;
      margin: 0 auto;
      height: 220px;
      overflow: hidden;
    }
    .overflow-auto {
      position: relative;
      height: 300px;
      overflow-y: scroll;
      padding: 2%;
    }
    .theme-container img {
      width: 40%;
    }
    .pokemon-details {
      margin-top: 2%;
    }
}




