<div class="page-container">
    <div class="row">
        <div class="col-md-4">
            <form class="form-inline well row">
                <div class="form-group col-md-5">
                    <label for="filter-option">Filter By :</label>
                    <select class="form-control" ng-model="vm.searchBy" ng-change="vm.clearSearchValue()">
                      <option value="ename">Name</option>
                      <option value="id">ID</option>
                      <option value="type">Type</option>
                    </select>
                </div>
                <div class="form-group col-md-7">
                    <label for="search input">Search :</label>
                    <input type="text" class="form-control" ng-model="vm.searchValue" ng-if="vm.searchBy != 'type'">
                    <select class="form-control" ng-model="vm.searchValue" ng-options="type.ename as type.ename for type in vm.types" ng-if="vm.searchBy == 'type'">
                        <option value="">--Choose Pokemon Type--</option>
                    </select>
                </div>
            </form>
            <br>
            <div class="row well">
                <div class="table-header">
                    <table class="table">
                      <thead>
                          <th>
                            <a href="" ng-click="vm.setOrderBy('id')">POKEMON ID</a>&nbsp
                            <span class="glyphicon glyphicon-chevron-up" ng-if="!vm.reverse && vm.orderByValue == 'id'"></span>
                            <span class="glyphicon glyphicon-chevron-down" ng-if="vm.reverse && vm.orderByValue == 'id'"></span>
                          </th>
                          <th></th>
                          <th>
                            <a href="" ng-click="vm.setOrderBy('ename')">NAME</a>&nbsp
                            <span class="glyphicon glyphicon-chevron-up" ng-if="!vm.reverse && vm.orderByValue == 'ename'"></span>
                            <span class="glyphicon glyphicon-chevron-down" ng-if="vm.reverse && vm.orderByValue == 'ename'"></span>
                          </th>
                          <th>
                            <a href="" ng-click="vm.setOrderBy('enameType')">TYPE&nbsp
                              <span class="glyphicon glyphicon-chevron-up" ng-if="!vm.reverse && vm.orderByValue == 'enameType'"></span>
                              <span class="glyphicon glyphicon-chevron-down" ng-if="vm.reverse && vm.orderByValue == 'enameType'"></span>
                            </a>
                          </th>
                      </thead>
                    </table>
                </div>
                <div class="overflow-auto">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="pokemon in vm.pokemons | filter: vm.searchPokemon | orderBy: vm.orderByValue:vm.reverse track by $index" class="pokemon-list">
                                <td>{{ pokemon.id }}</td>
                                <td><span ng-click="vm.showPokemonDetails(pokemon)"><img src="http://localhost:4730/pokemons/thm/{{pokemon.id}}" alt="{{pokemon.ename}}"></span></td>
                                <td><span ng-click="vm.showPokemonDetails(pokemon)">{{ pokemon.ename }}</span></td>
                                <td>
                                    <span ng-repeat="type in pokemon.enameType">{{type}}&nbsp</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-8">
            <!-- POKEMON DETAILS -->
            <div ng-if="vm.selectedPokemon.hasOwnProperty('id')" class="main-content">
                <!-- UPPER DETAILS SECTION -->
                <div class="well">
                  <div class="row">
                    <div class="col-md-6 pad-2">
                      <div class="image-container">
                        <img src="http://localhost:4730/pokemons/img/{{vm.selectedPokemon.id}}">
                      </div>
                    </div>
                    <div class="col-md-6 pad-2">
                      <div class="row">
                         <table class="table">
                            <tr>
                              <td>ID:</td>
                              <td>{{vm.selectedPokemon.id}}</td>
                            </tr>
                            <tr>
                              <td>NAME:</td>
                              <td>{{vm.selectedPokemon.ename}}</td>
                            </tr>
                            <tr>
                              <td>TYPE:</td>
                              <td><span ng-repeat="type in vm.selectedPokemon.enameType">{{type}}&nbsp</span></td>
                            </tr>
                            <tr>
                              <td>SKILLS:</td>
                              <td>
                                  <span ng-if="vm.selectedPokemonSkills.length == 0">**No Skill Found**</span>
                                  <span ng-if="vm.selectedPokemonSkills.length > 0" class="col-md-6 skill" ng-repeat="skill in vm.selectedPokemonSkills track by $index"><a href="" ng-mouseover="vm.showSkillDetails(skill)">{{skill.ename}}</a></span>                             
                              </td>
                            </tr>
                          </table>
                      </div>
                      <br>
                       Skill Details:
                      <div class="row">
                        <div class="col-md-6">
                          <span>ID:</span>&nbsp{{vm.selectedSkill.id || 'N/A'}}<br>
                          <span>NAME:</span>&nbsp{{vm.selectedSkill.ename || 'N/A'}}<br>
                          <span>TYPE:</span>&nbsp{{vm.selectedSkill.enameType || 'N/A'}}<br>
                        </div>
                        <div class="col-md-6">
                          <span>ACCURACY:</span>&nbsp{{vm.selectedSkill.accuracy || 'N/A'}}<br>
                          <span>PP:</span>&nbsp{{vm.selectedSkill.pp || 'N/A'}}<br>
                          <span>POWER:</span>&nbsp{{vm.selectedSkill.power || 'N/A'}}<br>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- UPPER DETAILS SECTION END-->
                <br>
                <!-- LOWER DETAILS SECTION-->
                <div class="well">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table">
                                <tr>
                                  <td class="table-label">Attack:</td>
                                  <td class="margin-top-2">
                                    <div power-bar=""   
                                       data-total="200" 
                                       data-complete-label="pt" 
                                       data-complete="vm.selectedPokemon.base.Attack"
                                       data-bar-class="progress-bar-danger"   
                                       data-toggle="tooltip">
                                     </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="table-label">Defense:</td>
                                  <td>
                                    <div power-bar=""   
                                       data-total="200" 
                                       data-complete-label="pt" 
                                       data-complete="vm.selectedPokemon.base.Defense"
                                       data-bar-class="progress-bar-success"   
                                       data-toggle="tooltip">
                                     </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="table-label">HP:</td>
                                  <td>
                                    <div power-bar=""   
                                       data-total="200" 
                                       data-complete-label="pt" 
                                       data-complete="vm.selectedPokemon.base.HP"
                                       data-bar-class="progress-bar-warning"   
                                       data-toggle="tooltip">
                                     </div>
                                  </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table">
                                <tr>
                                  <td class="table-label">Sp. Attack:</td>
                                  <td>
                                    <div power-bar=""   
                                       data-total="200" 
                                       data-complete-label="pt" 
                                       data-complete="vm.selectedPokemon.base['Sp.Atk']"
                                       data-bar-class="progress-bar-danger progress-bar-striped active"   
                                       data-toggle="tooltip">
                                     </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="table-label">Sp. Defense:</td>
                                  <td>
                                    <div power-bar=""   
                                       data-total="200" 
                                       data-complete-label="pt" 
                                       data-complete="vm.selectedPokemon.base['Sp.Def']"
                                       data-bar-class="progress-bar-success progress-bar-striped active"   
                                       data-toggle="tooltip">
                                     </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="table-label">Speed:</td>
                                  <td>
                                    <div power-bar=""   
                                       data-total="200" 
                                       data-complete-label="pt" 
                                       data-complete="vm.selectedPokemon.base.Speed"
                                       data-bar-class=""   
                                       data-toggle="tooltip">
                                     </div>
                                  </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- LOWER DETAILS SECTION END-->
            </div>
            <!-- POKEMON DETAILS END-->
            <div ng-if="!vm.selectedPokemon.hasOwnProperty('id')" class="main-content">
                <div class="well">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="images/logo.png">
                        </div>
                        <div class="col-md-7">
                            <!-- <img src="images/pokedex.png"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>