<div class="page-container">
  <div class="row">
    <div class="col-xs-4">
      <form class="form-inline well">
        <div class="form-group">
          <label for="exampleInputName2">Filter By :</label>
          <select class="form-control" ng-model="vm.searchBy" ng-change="vm.clearSearchValue()">
            <option value="ename">Name</option>
            <option value="id">ID</option>
            <option value="type">Type</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail2">Search :</label>
          <input type="text" class="form-control" ng-model="vm.searchValue" ng-if="vm.searchBy != 'type'">
          <select class="form-control" ng-model="vm.searchValue" ng-options="type.ename as type.ename for type in vm.types" ng-if="vm.searchBy == 'type'">
              <option value="">--Choose Pokemon Type--</option>
          </select>
        </div>
      </form>
      <br>
      <div class="row well">
        <div class="table-header">
          <table class="table">
            <thead>
              <th><a href="" ng-click="vm.setOrderBy('id')">ID</a></th>
              <th></th>
              <th><a href="" ng-click="vm.setOrderBy('ename')">NAME</a></th>
              <th><a href="" ng-click="vm.setOrderBy('enameType')">TYPE</a></th>
            </thead>
          </table>
        </div>
        <div class="overflow-auto">
          <!-- <table class="table">
            <tbody>
              <tr ng-repeat="pokemon in vm.pokemons | filter: vm.searchPokemon | orderBy: vm.orderByValue:vm.reverse track by $index" class="pokemon-list">
                <td>{{ pokemon.id }}</td>
                <td><span><img src="http://localhost:4730/pokemons/image/{{pokemon.id}}" alt="{{pokemon.ename}}"></span></td>
                <td>{{ pokemon.ename }}</td>
                <td>
                    <span ng-repeat="type in pokemon.enameType">{{type}}&nbsp</span>
                </td>
              </tr>
            </tbody>
          </table> -->
           <table class="table">
            <tbody>
              <tr ng-repeat="pokemon in vm.pokemons | filter: vm.searchPokemon | orderBy: vm.orderByValue:vm.reverse track by $index" class="pokemon-list">
                <td>{{ pokemon.id }}</td>
                <td><span ng-click="vm.showPokemonDetails(pokemon)"><img src="http://localhost:4730/pokemons/thm/{{pokemon.id}}" alt="{{pokemon.ename}}"></span></td>
                <td>{{ pokemon.ename }}</td>
                <td>
                    <span ng-repeat="type in pokemon.enameType">{{type}}&nbsp</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="well">
        <div class="row">
          <div class="col-md-7 pad-2">
            <div class="image-container">
              <img src="http://localhost:4730/pokemons/img/{{vm.selectedPokemon.id}}">
            </div>
          </div>
          <div class="col-md-5 pad-2">
            <table class="table">
              <tr>
                <td>ID :</td>
                <td></td>
              </tr>
              <tr>
                <td>NAME :</td>
                <td></td>
              </tr>
              <tr>
                <td>TYPE :</td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <hr>
      <div class="well">
        <div class="row">
          <div class="col-md-12">
            <img src="http://localhost:4730/pokemons/spr/{{vm.selectedPokemon.id}}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <tr>
                <td>Attack:</td>
                <td></td>
              </tr>
              <tr>
                <td>Defense:</td>
                <td></td>
              </tr>
              <tr>
                <td>HP:</td>
                <td></td>
              </tr>

            </table>
          </div>
          <div class="col-md-6">
             <table class="table">
              <tr>
                <td>Sp. Attack:</td>
                <td></td>
              </tr>
              <tr>
                <td>Sp. Defense:</td>
                <td></td>
              </tr>
              <tr>
                <td>Speed:</td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>